<div class="container py-4">
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body text-center">
          <h5 class="card-title">Total de Salas de Cine</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body text-center">
          <h5 class="card-title">Total de Salas Disponibles</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body text-center">
          <h5 class="card-title">Total de Películas</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>
  </div>
</div>
